---
export interface Props {
  url: string;
  title: string;
  description: string;

}
import gmeta from 'gmeta';
import { Img } from "astro-imagetools/components";


const {url,title,description} = Astro.props;
const meta = await gmeta(url);
---
<a href={url} class="no-underline">
<div class="bg-yellow-200 hover:shadow-3xl card card-side">
    <figure class="w-1/2 m-0"><Img src="/src/assets/dog-error-side.png" alt="dog" layout="fill"  height={280} width={200} /></figure>

    <div class=" card-body">
      <h2 class="card-title">{title}</h2>
      <p class="prose prose-xl">{description}</p>
      <div class="justify-end card-actions">
        <button class="btn">Go to {meta.title}</button>
      </div>
    </div>
  </div>
</a>
