---
export interface Props {
  pictures: string[];
}
const {pictures} = Astro.props;

---

<section class="py-5">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full p-4 lg:w-1/2">
          <img class="object-cover w-full rounded-lg h-80" src="/src/assets/blog/introducing-astro.jpg" alt="">
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <img class="object-cover w-full rounded-lg h-80" src="/src/assets/blog/introducing-astro.jpg" alt="">
        </div>
        <div class="w-full p-4 md:w-1/3">
          <img class="object-cover w-full rounded-lg h-80" src="/src/assets/blog/introducing-astro.jpg" alt="">
        </div>
        <div class="w-full p-4 md:w-1/3">
          <img class="object-cover w-full rounded-lg h-80" src="/src/assets/blog/introducing-astro.jpg" alt="">
        </div>
        <div class="w-full p-4 md:w-1/3">
          <img class="object-cover w-full rounded-lg h-80" src="/src/assets/blog/introducing-astro.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
