---
import { published } from "@data/post"
import Blog from "@layouts/blog";
import Card from "@components/blog/card";


const markdownFiles = await Astro.glob('../content/**/*.md')
const posts = published(markdownFiles);
---

<Blog title="Brian Ketelsen | Blog" waves={true}>
  <section class="py-16 bg-white md:py-24 lg:pb-52"
    style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-repeat: no-repeat; background-position: center top;">
    <div class="container max-w-5xl px-4 mx-auto">
      <div class="flex flex-wrap items-center mb-16">
        <div class="w-full mb-8 md:w-3/4 md:mb-0">
          <span
            class="inline-block px-2 py-px mb-4 text-xs font-medium leading-5 text-blue-500 uppercase bg-blue-100 rounded-full shadow-sm font-title">Blog</span>
          <h3 class="mb-4 text-4xl font-bold leading-tight tracking-tighter md:text-5xl text-darkCoolGray-900">Blog
            posts</h3>
          <p class="text-lg font-medium md:text-xl text-coolGray-500">It was too long for a tweet.</p>
        </div>

      </div>
      <div class="flex flex-wrap -mx-4">
        {posts.map((p) =>
        <Card post={p} />
        )}
      </div>
    </div>
  </section>

</Blog>
