---
import Footer from "@components/Footer";
import Navbar from "@components/Navbar";
import WavesBottom from "./WavesBottom.astro";
import WavesTop from "./WavesTop.astro";

const {settings} = Astro.props;
---

<body class="antialiased bg-base-100 text-base-content font-body" data-prismjs-copy="Copy to clipboard">
    <div class="">
        <section class="relative overflow-hidden bg-base-100">
            <Navbar settings={settings}/>
            <slot name="hero"/>

            <WavesTop />
        </section>
        <slot />
        <WavesBottom />
        <Footer settings={settings}/>
    </div>
</body>
<script src="../assets/js/prism.js"></script>
