---
import Footer from "@components/Footer";
import Navbar from "@components/NewNavbar";

const { settings } = Astro.props;
---

<body class="antialiased font-body flex flex-col items-center h-screen h-[100svh]">
	<div class="flex-grow w-full max-w-3xl">
        <Navbar settings={settings} />
            <slot name="hero" />
        <slot />
        <Footer settings={settings} />
        </div>
 </body>
<script src="../assets/js/prism.js"></script>
