---
import Reveal from "@layouts/reveal";
import MDSlide from "@components/reveal/MDSlide";
import Slide from "@components/reveal/Slide";

---
<Reveal>
<MDSlide>
{
`<!-- .slide: data-background="#00FF00" -->
# Green BG
`
}
</MDSlide>
<Slide bgColor="#f00">
    <h1>Red BG</h1>
</Slide>
<Slide>
    <h1>No BG</h1>
</Slide>
<MDSlide>
## Brian 1
Slide 1
---
## Brian 1
Slide 2
---
## Brian 1
Slide 3
</MDSlide>



<section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n--\n$">
    <script type="text/template">
## Demo 2
Slide 1.1

--

## Demo 2
Slide 1.2

---

## Demo 2
Slide 2
    </script>
</section>





</Reveal>
