---
import Reveal from "@layouts/reveal";
import MDSlide from "@components/reveal/MDSlide";
import Slide from "@components/reveal/Slide";
import SvelteSlide from "../../components/reveal/SvelteSlide.svelte";

---
<Reveal>
<MDSlide>
{
`<!-- .slide: data-background="#00FF00" -->
# Green BG
`
}
</MDSlide>
<SvelteSlide dataTransition="convex">
<h1>Stuff</h1>
</SvelteSlide>

<Slide bgColor="#f00">
    <h1>Red BG</h1>
</Slide>
<Slide>
    <h1>No BG</h1>
</Slide>
<MDSlide>
## Brian 1
Slide 1
---
## Brian 1
Slide 2
---
## Brian 1
Slide 3
</MDSlide>

<MDSlide>
<textarea data-template>
```js [1-2|3|4]
let a = 1;
let b = 2;
let c = x => 1 + 2 + x;
c(3);
```
</textarea>
</MDSlide>

<section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n--\n$">
    <script type="text/template">
## Demo 2
Slide 1.1

--

## Demo 2
Slide 1.2

---

## Demo 2
Slide 2
    </script>
</section>





</Reveal>
